@typeparam TItem

<div class="carousel-container">
	<div class="carousel-info">
		<SectionTitle SectionName="@SectionName" IsLink=@IsLink Link="/movies/list" />

		<div class="carousel-info-buttons">
			<button class="carousel-nav" @onclick="Prev">
				<span class="carousel-nav-span">‹</span>
			</button>
			<button class="carousel-nav" @onclick="Next">
				<span class="carousel-nav-span">›</span>
			</button>
		</div>
	</div>

	<div class="carousel-wrapper" style="margin-bottom: @(MarginBottom ? "100px" : "0px")" @onmouseenter="Pause" @onmouseleave="Resume">
		<div class="carousel-viewport">
			<div class="carousel-track" style="@TrackStyle">
				@foreach (var item in Items)
				{
					<div class="carousel-slide">
						@SlideTemplate(item)
					</div>
				}
			</div>
		</div>
	</div>
</div>