<div class="genre-grid">
    @foreach (var genre in AppState.Genres)
    {
        var backgroundUrl = AppState.GenreBackgrounds.ContainsKey(genre.Name)
        ? AppState.GenreBackgrounds[genre.Name]
        : "/images/default-background.jpg";

        <a class="genre-card"
           href="@($"/genre/{genre.Id}")"
           style="--bg-img: url('@backgroundUrl');">
            <span class="genre-name">@genre.Name</span>
        </a>
    }
</div>