@using CineVerse.shared.ApiResponses;

<div class="poster-grid">
    @foreach (var movie in Movies)
    {
        <MovieCard Movie="movie" />
    }
</div>

<Pager TItem="MovieResultResponse" Items="Movies" PageChanged="PageChanged" CurrentPage="CurrentPage"></Pager>