@typeparam TItem
@using System.Linq
@using CineVerse.client.Services.Interfaces

<div>
	<div class="pagination-controls">
		<button @onclick="PreviousPage" disabled="@IsPreviousDisabled">Previous</button>

		@foreach (var pageNumber in Enumerable.Range(1, (TotalPages > 10 ? 10 : TotalPages)))
		{
			<button @onclick="() => GoToPage(pageNumber)" class="@(CurrentPage == pageNumber ? "active" : "")">
				@pageNumber
			</button>
		}

		<button @onclick="NextPage" disabled="@IsNextDisabled">Next</button>
	</div>

</div>

@code {

	#region Properties

	[Parameter]
	public IEnumerable<TItem> Items { get; set; }

	[Parameter]
	public int DefaultPageSize { get; set; } = 21;

	[Parameter]
	public RenderFragment ChildContentHeader { get; set; }

	[Parameter]
	public RenderFragment<TItem> ChildContentRow { get; set; }

	[Parameter]
	public EventCallback<int> PageChanged { get; set; }

	[Parameter]
	public MoviesApiResponse MoviesResponse { get; set; }

	#endregion

	#region Fields

	private int PageSize { get; set; }
	private List<TItem> PaginatedData => Items.Skip((CurrentPage - 1) * PageSize).Take(PageSize).ToList();
	private int CurrentPage { get; set; } = 1;
	private int TotalPages => MoviesResponse.TotalPages;
	private bool IsPreviousDisabled => CurrentPage == 1;
	private bool IsNextDisabled => CurrentPage == TotalPages;

	#endregion


	protected override void OnInitialized()
	{
		PageSize = 21;
	}

	private void NextPage()
	{
		if (CurrentPage < TotalPages)
		{
			CurrentPage++;
		}
		PageChanged.InvokeAsync(CurrentPage);
	}

	private void PreviousPage()
	{
		if (CurrentPage > 1)
		{
			CurrentPage--;
		}

		PageChanged.InvokeAsync(CurrentPage);
	}

	private void GoToPage(int pageNumber)
	{
		CurrentPage = pageNumber;

		PageChanged.InvokeAsync(pageNumber);
	}
}

<style>
	.pagination-controls {
		display: flex;
		align-items: center;
		justify-content: center;
		margin-top: 20px;
	}

		.pagination-controls button {
			background-color: #f8f9fa;
			border: 1px solid #dee2e6;
			color: #007bff;
			padding: 5px 10px;
			margin: 0 5px;
			border-radius: 4px;
			cursor: pointer;
			transition: background-color 0.3s ease, color 0.3s ease;
		}

			.pagination-controls button:hover {
				background-color: #007bff;
				color: white;
			}

			.pagination-controls button.active {
				background-color: #007bff;
				color: white;
				font-weight: bold;
			}

			.pagination-controls button:disabled {
				background-color: #e9ecef;
				color: #6c757d;
				cursor: not-allowed;
				border-color: #ced4da;
			}

		.pagination-controls select {
			margin-right: 15px;
			padding: 5px;
			border-radius: 4px;
			border: 1px solid #dee2e6;
		}

		.pagination-controls label {
			margin-right: 5px;
			font-weight: bold;
		}
</style>