<div class="textbox-wrapper">
    <input value="@Value"
           @oninput="HandleInput"
           class="textbox @(IsInvalid ? "invalid" : null)"
           type="@InputType"
           placeholder="@Placeholder"
           @onkeydown="OnKeyDown"
           @onblur="Validate" />
</div>