<div class="title-wrapper">
    <div class="title-line">
        <label class="title-label">@Label</label>

        @if (!string.IsNullOrWhiteSpace(TooltipText))
        {
            <span class="tooltip-container">
                <span class="tooltip-icon">?</span>
                <span class="tooltip-text">@TooltipText</span>
            </span>
        }
    </div>

    @ChildContent
</div>