.appbar {
    height: 75px !important;
    display: flex;
    align-items: center;
    padding: 0 1rem;
    background: #080a16;
    backdrop-filter: blur(8px);
    border-bottom: 1px solid var(--clr-border);
    z-index: 2000;
}

.flex-spacer {
    flex: 1
}

.icon-btn {
    background: none;
    border: none;
    color: #fff;
    font-size: 1.4rem;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 44px;
    height: 44px;
    border-radius: 8px;
    transition: background .25s;
}

    .icon-btn:hover {
        background: rgba(255,255,255,.08);
    }

.logo-area {
    display: flex;
    align-items: center;
    gap: .5rem;
    margin-left: .5rem;
}

.logo-text {
    font-weight: 600;
    font-size: 1.1rem;
    color: #fff;
    letter-spacing: .5px;
}

.avatar {
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

.drawer {
    position: fixed;
    top: 56px;
    bottom: 0;
    width: var(--drawer-w);
    background-color: #080a16;
    border-right: 1px solid var(--clr-border);
    backdrop-filter: blur(8px);
    transition: width .25s;
}

    .drawer.closed {
        width: 80px;
    }

    .drawer.open {
        width: 240px;
    }

.nav-list {
    list-style: none;
    margin: 0;
    padding: 1rem 0;
    display: flex;
    flex-direction: column;
    gap: .25rem;
}

.nav-link {
    display: flex;
    align-items: center;
    gap: .75rem;
    padding: .65rem 1rem;
    color: #AAB0C0;
    text-decoration: none;
    font-size: .95rem;
    border-radius: 10px;
    transition: background .25s,color .25s;
}

    .nav-link i {
        font-size: 1.7rem;
    }

    .nav-link:hover {
        background: rgba(255,255,255,.06);
        color: #fff;
    }

    .nav-link.active {
        background: rgba(255, 255, 255, 0.1);
        color: #fff;
    }

    .nav-link > .material-icons {
        position: relative;
        left: -5px;
    }

.nav-text {
    white-space: nowrap;
    opacity: 1;
    transition: opacity .25s;
}

    .drawer.closed .nav-text {
        opacity: 0;
        transition: opacity 0.2s;
    }

.drawer.open .nav-text {
    opacity: 1;
}

.main-area {
    display: flex;
    background-color: #03060b;
    height: calc(100vh - 75px);
    overflow-y: hidden;
}

.content-area {
    flex: 1;
    margin-left: 90px;
    overflow: auto;
    transition: margin-left .25s;
}

.drawer.open + .content-area {
    margin-left: 240px;
}

.content-area::-webkit-scrollbar {
    width: 8px
}

.content-area::-webkit-scrollbar-thumb {
    background: #282C3C;
    border-radius: 4px
}
