@using CineVerse.shared.ApiResponses;

@page "/"
@using CineVerse.client.Components;

<div class="home-container">
    @if (IsLoading)
    {
       <Loader />
    } 
    else
    {
        <CineVerse.client.Components.Carousel TItem="MovieResultResponse" Items="NowPlayingMovies" IsLink=true VisibleCount="5" AutoplayMs="5000" SectionName="On Air" CardWidth="300" Margin="80">
            <SlideTemplate Context="movie">
                <div style="width: 300px; height: 100%;">
                    <MovieCard Movie="movie" />
                </div>
            </SlideTemplate>
        </CineVerse.client.Components.Carousel>

        <div>
            <SectionTitle SectionName="Upcoming Movies" IsLink="true" Link="/movies/list" />
            <SplitSlider Movies="UpcomingMovies" MaxVisible="7" AutoplayMs="5000" />
        </div>

        <div>
            <SectionTitle SectionName="Genres" IsLink="false" />
            <GenreGrid Movies="PopularMovies" />
        </div>

        <CineVerse.client.Components.Carousel TItem="MovieResultResponse" Items="PopularMovies" IsLink=true VisibleCount="7" AutoplayMs="5000" SectionName="Popular" CardWidth="200" Margin="100" MarginBottom="true">
            <SlideTemplate Context="movie">
                <div style="width: 200px; height: 100%;">
                    <MovieCard Movie="movie" />
                </div>
            </SlideTemplate>
        </CineVerse.client.Components.Carousel>
    }
</div>