@page "/"
@using CineVerse.client.Components;
@using CineVerse.client.Models;


<h2 class="section-title">Now Playing</h2>
<Carousel TItem="Movie" Items="NowPlayingMovies" VisibleCount="5" AutoplayMs="5000">
    <SlideTemplate Context="movie">
        <MovieCard Movie="movie" />
    </SlideTemplate>
</Carousel>

<style>

    .section-title {
        font-size: 1.3rem;
        font-weight: 600;
        color: #fff;
        margin: 1rem 2.5rem .75rem;
    }

</style>