@page "/"
@using CineVerse.client.Components

@if (IsLoading)
{
	<MudProgressCircular Size="Size.Large" Class="m-6" />
}
else
{
	<div class="search-container">
		<MudTextField @bind-Value="_query"
			Placeholder="Search for a movie…"
			Adornment="Adornment.Start"
			AdornmentIcon="@Icons.Material.Filled.Search"
			Immediate="true"
			OnKeyDown="HandleKeyDown"
			Class="search-box" />

		<MudButton Color="Color.Primary"
			Variant="Variant.Filled"
			OnClick="SearchAsync">Search</MudButton>
	</div>


	@if (Movies.Any())
	{
		<MovieGrid Movies="Movies" PageChanged="LoadMoviesAsync" CurrentPage="CurrentPage" />
	} else
	{
		<h1>NO MOVIES</h1>
	}
}


<style>
	.search-container {
		display: flex;
		gap: 0.75rem;
		max-width: 480px;
		margin: 2rem auto;
	}

	.search-box {
		flex: 1;
	}
</style>