.search-loading-overlay {
    display: flex;
    align-items: center;
    justify-content: center;
    vertical-align: middle;
    height: 100%;
    width: 100%;
    backdrop-filter: blur(4px);
    z-index: 9999;
    padding: 40px;
}

.search-panel {
    position: relative;
    display: flex;
    flex-direction: column;
    margin: 50px;
    padding: 50px 30px;
    gap: 30px;
    z-index: 9000;
    border-radius: 18px;
    background: rgba(22,22,22,1);
    backdrop-filter: blur(12px);
}

.filters-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
}

.search-form {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.filters-button-group {
    display: flex;
    margin-top: 2rem;
    gap: 20px;
    align-items: center;
    vertical-align: middle;
}

.filters-search-btn {
    padding: 0.75rem 1.8rem;
    font-size: 1rem;
    font-weight: 600;
    border-radius: 10px;
    background: var(--clr-primary);
    color: #fff;
    border: none;
    cursor: pointer;
    transition: transform 0.2s ease, box-shadow 0.2s ease;
}

    .filters-search-btn:hover {
        transform: translateY(-2px);
        box-shadow: 0 4px 12px var(--clr-primary);
    }

.filters-clear-btn {
    padding: 0.75rem 1.8rem;
    font-size: 1rem;
    font-weight: 600;
    border-radius: 10px;
    background: transparent;
    color: #ccc;
    border: 2px solid var(--clr-primary);
    cursor: pointer;
    transition: background 0.2s ease, color 0.2s ease;
}

    .filters-clear-btn:hover {
        background: var(--clr-primary);
        color: white;
    }

