@page "/movies/search"
@page "/movies/list"

@using CineVerse.client.Components

@if (IsLoading)
{
	<MudProgressCircular Size="Size.Large" Class="m-6" />
}
else
{
    <div class="search-panel">

        <div class="search-box">
            <span class="icon">🔍</span>
            <input type="text"
                   placeholder="Search for a movie…"
                   @bind="_query"
                   @onkeydown="HandleKeyDown" />
        </div>

        <button class="search-btn" @onclick="() => LoadMoviesAsync(1)">
            SEARCH
        </button>

    </div>


	@if (Movies.Any())
	{
		<MovieGrid Movies="Movies" PageChanged="LoadMoviesAsync" CurrentPage="CurrentPage" />
	} else
	{
		<h1>NO MOVIES</h1>
	}
}


<style>
    .search-panel {
        margin: 50px;
        padding: 24px;
        display: flex;
        gap: 20px;
        align-items: center;
        border-radius: 18px;
        background: rgba(13,17,31,1);
        backdrop-filter: blur(12px);
    }

    .search-box {
        position: relative;
        flex: 1;
    }

        .search-box .icon {
            position: absolute;
            top: 50%;
            left: 16px;
            transform: translateY(-50%);
            font-size: 1.1rem;
            color: #7a7a7a;
            pointer-events: none;
        }

        .search-box input {
            width: 100%;
            height: 56px;
            padding: 0 18px 0 48px; 
            border: none;
            border-radius: 12px;
            background: rgba(200,200,200,0.02);
            color: #fff;
            font-size: 1rem;
            outline: none !important;
            box-shadow: 0 2px 4px rgba(0,0,0,0.30),
            0 0 0 1px rgba(255,255,255,0.01) inset; 
        }

            .search-box input::placeholder {
                color: #8a8da5;
            }

    .search-btn {
        min-width: 180px;
        height: 56px;
        border-radius: 12px;
        background: #2d2668;
        border: 1px solid #2d2668;
        color: #fff;
        font-weight: 600;
        letter-spacing: .4px;
        cursor: pointer;
        transition: background .25s, border .25s;
    }

        .search-btn:hover {
            background: #6047e6;
            border-color: #7a68ff;
        }

        .search-btn:active {
            background: #4b39c4;
            border-color: #7a68ff;
        }
</style>